
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f9ff; 
  /* background-image: url('../img/DALL·E\ 2024-11-28\ 20.24.44\ -\ Design\ a\ minimalistic\ and\ stylish\ logo\ for\ a\ music\ record\ label\ named\ \'Atlantida\ Records\'.\ The\ logo\ should\ feature\ a\ sleek\,\ modern\ penguin\,\ with\ clean.webp'); */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #e0efff; 
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #a2c9f7; 
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #85aee2; 
}

.bottons{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  position: fixed;
  bottom: 10px;
  left: 20px;
}

.total {
  font-weight: bold;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}
